<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark mb-4">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">YelpCamp</a>
        </div>
        <div class="collapse navbar-collapse ml-auto">
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
                <li class="ml-3"><a href="/login">Login</a></li>
                <li class="ml-3"><a href="/register">Sign Up</a></li>
            <% } else { %>
                <li class="ml-3"><a href="#">Current logged as <%= currentUser.username %></a></li>
                <li class="ml-3"><a href="/logout">Logout</a></li>
            <% } %> 
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>

<div class="container">
  <% if(error && error.length > 0) { %> 
  <div class="alert alert-danger" role="alert">
    <%= error %> 
  </div>
  <% } %> 
  <% if(success && success.length > 0) { %>     
    <div class="alert alert-danger" role="alert">
      <%= success %> 
    </div>
  <% } %> 
</div>